.banner_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header_section {
    position: relative;
    min-height: 300px;
}

.banner_content {
    min-height: 300px;
}